@import url("https://fonts.googleapis.com/css?family=Noto+Sans:300,500,700,800,900");

:root {
    --bg-color: #313338;
    --text-color: silver;
    --input-color: #1e1f22;
}
/* LAYOUT */

body {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

#root {
    background: var(--bg-color);
    margin: 0px;
    padding: 20px;
    width: 400px;
    min-height: 350px;
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    * {
        font-family: "Noto Sans", sans-serif;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

footer {
    font-style: italic;
    color: grey;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    color: white;
}

#loading {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ELEMENTS */

button {
    border: 0px;
    background: #7289da;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 40px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
        background: #7289dabb;
    }
}

img {
    border-radius: 50%;
    margin-right: 10px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------  SECTIONS */

h1 {
    margin: 0px;
    line-height: 100%;
    font-size: 20px;
}

form {
    width: 100%;
    color: var(--text-color);

    label {
        font-size: 12px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.02em;
    }

    input,
    select,
    textarea {
        border-radius: 5px;
        width: 100%;
        height: 44px;
        margin-top: 5px;
        margin-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        color: white;
        background: var(--input-color);
        border: none;
        outline: none !important;
    }

    textarea {
        font-size: 12px;
        cursor: text;
        height: 64px;
    }

    input {
        width: calc(100% - 20px);
        cursor: text;
        height: 40px;
    }

    button {
        margin-top: 10px;
    }
}

#actions {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        margin: 15px;
        border: 1px solid transparent;
        &:nth-child(1) {
            background-color: #9e2b2b;
            &:hover {
                background-color: #9e2b2bbb;
            }
            &:active {
                border: 1px solid red;
            }
        }
        &:nth-child(2) {
            background-color: #2b669e;
            &:hover {
                background-color: #2b669ebb;
            }
            &:active {
                border: 1px solid rgb(0, 234, 255);
            }
        }
    }
}
